// Base colours
$coal  : #333333;
$snow  : #ffffff;

// Brand colour
$brand : #33cc99;

// Other colours
$cloud : #f5f5f5;
$dust  : #eaeaea;
$smoke : #dddddd;
$stone : #666666;
$wolf  : #777766;
$sun   : #ffd624;
